$white: hsl(0, 0%, 100%);
$lightGray: hsl(212, 45%, 89%);
$grayishBlue: hsl(220, 15%, 55%);
$darkBlue: hsl(218, 44%, 22%);

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
 background-color: $lightGray;
 font-family: Outfit;
 display: flex;
 flex-flow: row wrap;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0;                                                         
    p {
        font-size: 15px;
        font-weight: 400;
        color: $grayishBlue;
    }
    h1 {
        font-size: 23px;
        font-weight: 700;
        color: $darkBlue;
    }

    .qrCode {
        background-color: $white;
        display: inline-block;
        padding: 20px;
        border-radius: 20px;
        margin: 20px;
        .qrCodeWrap {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;         
            max-width: 265px;
            width: 100%;

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
            .qrContent {
                text-align: center;
            }
        }
    }
}
